node_modules/
dist/
storybook-static/
build/
.env
.DS_Store
*.log
*.cache
coverage/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.zip
*.tar.gz
*.tgz
*.log
*.pid
*.seed
*.pid.lock
*.gz
plans/
docs/
